<mat-card class="product-card" *ngIf="product">
  <img
    class="product-card-image"
    mat-card-image
    src="{{ product.pictureUrl }}"
  />
  <mat-card-content class="product-description">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id, product.name]"
    >
      {{ product.name.substring(0, 100) }}...
    </a>
  </mat-card-content>
  <mat-card-content class="product-rate">
    {{ product.rate }}
  </mat-card-content>
  <mat-card-content class="product-price">
    ${{ product.price }}
  </mat-card-content>
</mat-card>
